## Environment
NODE_ENV=development

## PostgreSQL
PG_CNAME=essentia_ai_assistent_postgres
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DEFAULT_DB=postgres
PG_SUPERUSER=admin
PG_SUPERUSER_PW=CHANGE_PG_SUPERUSER_PW
PG_SUPERUSER_SSL_MODE=disable
PG_SUPERUSER_URI=postgres://${PG_SUPERUSER}:${PG_SUPERUSER_PW}@${PG_HOST}:${PG_PORT}/${PG_DEFAULT_DB}?sslmode=${PG_SUPERUSER_SSL_MODE}
PG_DATA_PATH=./.docker/postgres/postgres_data

## API
API_CNAME=essentia_ai_assistent_api
API_HOST=0.0.0.0
API_PORT=8000

## API Database
API_DB_HOST=postgres
API_DB_PORT=5432
API_DB_NAME=postgres
API_DB_USER=admin
API_DB_PW=CHANGE_PG_SUPERUSER_PW
API_DB_SSL_MODE=disable

## Database Pool
DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=10
DB_POOL_TIMEOUT=5

## Application
BUSINESS_TIMEZONE=America/Sao_Paulo

## Golang Migrate
GOLANG_MIGRATE_CNAME=essentia_ai_golang_migrate
GOLANG_MIGRATE_IMAGE=migrate/migrate:v4.20.1
MIGRATIONS_PATH=./db/migrations
SEEDS_PATH=./db/seeds